<div id="studentlogin" class="flex-scrollable" layout="column" ms-scroll>
    <div id="studentlogin-form-wrapper" layout="column" layout-align="center center">
        <div id="studentlogin-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img src="assets/images/logos/hex.png" class="hugeImg negativeMargin" />
            </div>

            <div class="title">Log in to your account</div>

            <div class="separator">
                <span class="text">USING</span>
            </div>

            <md-button ng-click="authenticate('google')" class="md-raised google">
                <div layout="row" layout-align="center center">
                    <span>
                    <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                    <span>Log in with Google</span>
                    </span>
                </div>
            </md-button>
            <!--
            <md-button class="md-raised github">
                <div layout="row" layout-align="center center">
                    <span>
                        <md-icon md-font-icon="icon-github" class="s16"></md-icon>
                        <span ng-click="authenticate('github')" >Log in with Github</span>
                    </span>
                </div>
            </md-button>
            <md-button class="md-raised facebook">
                <div layout="row" layout-align="center center">
                    <span>
                    <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                    <span >Log in with Facebook</span>
                    </span>
                </div>
            </md-button>

            <md-button class="md-raised linkedin">
                <div layout="row" layout-align="center center">
                    <span>
                        <md-icon md-font-icon="icon-linkedin" class="s16"></md-icon>
                        <span ng-click="authenticate('linkedin')" >Log in with Linkedin</span>
                    </span>
                </div>
            </md-button>
            -->
            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <a class="link" ng-href="" ng-click="vm.cancel()">Go Back</a>
                <div class="separator">
                </div>
                <a class="link" ng-href="/">Go Home</a>
            </div>

        </div>
    </div>
</div>