<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-image">FFS</span>
        <span class="logo-text">openFFS</span>
    </div>
    <!--
    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
    -->
</md-toolbar>
<div layout="column" layout-align="center center" layout-margin>
  <div flex>
    <img src="assets/images/logos/smvitmlogo.png">
  </div>
  <div flex><h2 class="md-body-2">Department of C.S.E</h2></div>
</div>
<md-divider></md-divider>
<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>