<div layout="column" layout-paddin layout-margin flex>
  <md-card>
    <div layout="row" flex layout-margin layout-padding>
      <h3 class="md-display-3">Howdy!</h3>
      <h3 class="md-headline">Things have changed a bit around.</h3>
    </div>
    <md-divider></md-divider>
  <div layout="row" layout-padding layout-margin layout-xs="column">
   <div flex>
     <md-card>
       <md-card-avatar>
      <md-icon style="color:orange;font-size:40px">assignment</md-icon>
      </md-card-avatar>
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Chose</span>
           <span class="md-subhead">From the subject list click to open it's feedback form.</span>
         </md-card-title-text>
       </md-card-title>
     </md-card>
     </div>
   <div flex>
       <md-card>
         <md-card-avatar>
        <md-icon style="color:grey;font-size:40px">create</md-icon>
        </md-card-avatar>
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">Give</span>
             <span class="md-subhead">The feedback by marking your answers accordingly.</span>
           </md-card-title-text>
         </md-card-title>
       </md-card>
       </div>
       <div flex>
           <md-card>
             <md-card-avatar>
            <md-icon style="color:green;font-size:40px">check circle</md-icon>
            </md-card-avatar>
             <md-card-title>
               <md-card-title-text>
                 <span class="md-headline">Save</span>
                 <span class="md-subhead">Repeat the same steps with all the subjects.</span>
               </md-card-title-text>
             </md-card-title>
           </md-card>
         </div>
  </div>
  <div layout="row" layout-align="center" flex>
      <p class="md-display-1">Hang on a moment, we're getting ready.</p>
      <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" md-diameter="100">
  </div>
</md-card>
</div>